/* Colors */
$primaryDark:     red !default;
$secondaryDark:   #1fb694 !default;
$ternoryDark:     blue !default;
$quadnaryDark:    yellow !default;
$lightColor: 	  white !default;
$darkColor: 	  #2d2d2d !default;

/* Fonts */
$font-family:  'Arial';
